*.log
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache
/.vscode/
/bootstrap/cache/*
/database/*.sqlite*
/public/storage
/storage/app/*
/storage/framework/*
/storage/logs/*
/storage/*.key
/storage/pail
/vendor
